<header>
    <nav class='navbar' role='navigation' aria-label='main navigation'>
        <div class='navbar-brand'>
            <a class='navbar-item' href='/animals'>
                <img src='img/4506284481591055823-128.png'>
            </a>
        </div>
        
        <div class='navbar-menu'>
            <div class='navbar-start'>
                <a class='navbar-item'>
                    Show Animal
                </a>
                <a class='navbar-item'>
                    New Animal
                </a>
                <a class='navbar-item'>
                    Edit Animals
                </a>
            </div>
            <div class='navbar-end'>
                <div class='buttons'>
                    <a class='button is-primary'>
                        Sign Up
                    </a>
                    <a class='button is-light'>
                        Log In
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>