<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <h1>Index</h1>
    <a href='/animals/randomAnimal'>Give me an animal!</a>
    <a href='/animals/new'>Create a New Animal</a>
    <a href='/users/new'>Create a New User</a>
    <a href='/users/signIn'>Sign In</a>
</body>
</html>