<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <h1>Index</h1>
    <a href='/animals/show'>Give me an animal!</a>
    <a href='/animals/new'>Create a New Animal</a>
</body>
</html>